<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Streaming</title>

    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .container {
            background-image: linear-gradient(to right, #373B44, #4286f4);
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: black;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="video-player">
            <header>
                <h1>Video Streaming..</h1>
            </header>
            <video id="videoPlayer" width="650" controls muted="muted" autoplay>
                <source src="/video" type="video/mp4">
            </video>
        </div>
    </div>
</body>

</html>